doctype html
html(lang="pt-br")
  head
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")

    title Landing Page - Using js based tools
    
    link(rel="stylesheet", href="../vendor/assets/bower/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="../vendor/assets/bower/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="../compiled_assets/main.css")
  
  body
    header.header
      nav.nav(role="navigation")
        div.container
          label.nav-toggle(for="nav-toggle")
            i.fa.fa-bars
          input#nav-toggle.nav-toggle-input(type="checkbox", name="nav-toggle")
          
          ul.nav-wrapper.nav-wrapper-left
            li.nav-item
              a.nav-text(href="#") About
            li.nav-item
              a.nav-text(href="#") Pricing
            li.nav-item.buy-now
              a.nav-text(href="#") Buy Now

          ul.nav-wrapper.nav-wrapper-right
            li.nav-item
              a.nav-text(href="#") Sign in
            li.nav-item.sign-up
              a.nav-text(href="#") Sign up
    
    section.main
      div.container
        h1 How businesses build software
        p Join the millions of developers and thousands of businesses who use GitHub to collaborate on code and build better software, faster.
        a.primary-button.large-button(href="#", title="Start a free trial") Start a free trial
    
    section.statistics
      div.container
        div.statistic
          i.fa.fa-bar-chart.statistic-icon
          span.statistic-text Statistic #1
        div.statistic
          i.fa.fa-area-chart.statistic-icon
          span.statistic-text Statistic #2
        div.statistic
          i.fa.fa-line-chart.statistic-icon
          span.statistic-text Statistic #3
        div.statistic
          i.fa.fa-pie-chart.statistic-icon
          span.statistic-text Statistic #4
    
    section.feature
      div.container
        div.row
          div.col-sm-6.feature-description
            h2 Feature #1
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in mollis massa, nec cursus enim. Nunc commodo ante sit amet efficitur rhoncus. Donec eleifend ullamcorper nibh, in dictum nulla. Donec efficitur nisl sed urna lobortis molestie. Fusce eu consequat lorem. Nam venenatis mi quis sodales interdum. Aenean in porta libero, sed aliquet orci. Aliquam non semper magna. Mauris posuere lacus lorem, a lobortis metus efficitur sit amet. Etiam quam justo, blandit non tincidunt eu, mattis sit amet est.
            a.primary-button.large-button(href="#") Get started
            
          div.col-sm-6.feature-image
            img(src="../assets/images/features-rocket.png", alt="Feature #1")
    
    section.feature
      div.container
        div.row
          div.col-sm-6.feature-image
            img(src="../assets/images/features-private-networking.png", alt="Feature #2")
          
          div.col-sm-6.feature-description
            h2 Feature #2
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in mollis massa, nec cursus enim. Nunc commodo ante sit amet efficitur rhoncus. Donec eleifend ullamcorper nibh, in dictum nulla. Donec efficitur nisl sed urna lobortis molestie. Fusce eu consequat lorem. Nam venenatis mi quis sodales interdum. Aenean in porta libero, sed aliquet orci. Aliquam non semper magna. Mauris posuere lacus lorem, a lobortis metus efficitur sit amet. Etiam quam justo, blandit non tincidunt eu, mattis sit amet est.
            a(href="#") Learn more
    
    section.feature
      div.container
        div.row
          div.col-sm-6.feature-description
            h2 Feature #3
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in mollis massa, nec cursus enim. Nunc commodo ante sit amet efficitur rhoncus. Donec eleifend ullamcorper nibh, in dictum nulla. Donec efficitur nisl sed urna lobortis molestie. Fusce eu consequat lorem. Nam venenatis mi quis sodales interdum. Aenean in porta libero, sed aliquet orci. Aliquam non semper magna. Mauris posuere lacus lorem, a lobortis metus efficitur sit amet. Etiam quam justo, blandit non tincidunt eu, mattis sit amet est.
            a(href="#") Learn more
            
          div.col-sm-6.feature-image
            img(src="../assets/images/features-global-image-transfer.png", alt="Feature #3")

    section.feature
      div.container
        div.row
          div.col-sm-6.feature-image
            img(src="../assets/images/features-flexible-api.png", alt="Feature #4")
          
          div.col-sm-6.feature-description
            h2 Feature #4
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in mollis massa, nec cursus enim. Nunc commodo ante sit amet efficitur rhoncus. Donec eleifend ullamcorper nibh, in dictum nulla. Donec efficitur nisl sed urna lobortis molestie. Fusce eu consequat lorem. Nam venenatis mi quis sodales interdum. Aenean in porta libero, sed aliquet orci. Aliquam non semper magna. Mauris posuere lacus lorem, a lobortis metus efficitur sit amet. Etiam quam justo, blandit non tincidunt eu, mattis sit amet est.
            a(href="#") Learn more
