.nav
  width: 100%
  overflow: auto

  @media screen and (max-width: $smartphone-max)
    background: #fff
    border-bottom: 1px solid #e6e6e6

    .nav-toggle
      float: left
      padding: 1.4rem 1rem
      margin-bottom: 0

      .fa
        color: $primary-color
        font-size: 2rem

  @media screen and (min-width: $tablet-min)
    padding: 0.8rem 0
    position: absolute
    top: 1rem
    left: 0
    z-index: 2

    .nav-toggle
      display: none

  &.fixed-nav
    background: $secondary-color
    border-bottom: 1px solid shade($secondary-color, 10%)
    position: fixed
    top: 0
    left: 0

  .nav-toggle-input
    display: none

    @media screen and (max-width: $smartphone-max)
      &:checked ~ .nav-wrapper-left
        max-height: 300px
        position: fixed
        top: 51px
        background: #f1f1f1
        width: 100%
        left: 0
        padding: 1rem
        border-top: 1px solid #e6e6e6
        border-bottom: 1px solid #e6e6e6
        z-index: 3

        .buy-now .nav-text
          color: #fff

  .nav-wrapper
    margin-bottom: 0

    &.nav-wrapper-left
      @media screen and (max-width: $smartphone-max)
        max-height: 0
        overflow: hidden

        .nav-item
          display: block
          padding: 1rem

      @media screen and (min-width: $tablet-min)
        text-align: left
        float: left

    &.nav-wrapper-right
      text-align: right
      float: right

      @media screen and (max-width: $smartphone-max)
        padding: 1rem 0

    .nav-item
      display: inline-block
      padding: 0.5rem 1rem

      &.buy-now
        background: $buy-primary-color
        border-bottom: 1px solid $buy-secondary-color
        padding-left: 1.5rem
        padding-right: @padding-left

      &.sign-up
        border-bottom: 1px solid

        @media screen and (max-width: $smartphone-max)
          background: $primary-color
          border-color: $secondary-color

          .nav-text
            color: #fff

        @media screen and (min-width: $tablet-min)
          background: #fff
          border-color: $secondary-color

          .nav-text
            color: $primary-color

      &.buy-now, &.sign-up
        border-radius: $default-border-radius

      .nav-text
        font-weight: 600

        @media screen and (max-width: $smartphone-max)
          color: $primary-color

        @media screen and (min-width: $tablet-min)
          color: #fff
          transition: .3s all ease

          &:hover
            text-shadow: 0px 0px 10px rgba(255,255,255,0.6)
            text-decoration: none
