$primary-color   = #3498db
$secondary-color = #2980b9

$buy-primary-color   = #2ecc71
$buy-secondary-color = #27ae60

$default-border-radius = 3px

$smartphone = 320px
$tablet     = 768px
$desktop    = 1224px

$smartphone-min = $smartphone
$smartphone-max = $tablet - 1px

$tablet-min = $tablet
$tablet-max = $desktop - 1px

$desktop-min = $desktop
