.primary-button
  display: inline-block
  background: $primary-color
  border-bottom: 2px solid $secondary-color
  border-radius: $default-border-radius
  color: #fff
  padding: 10px
  font-size: 1.6rem
  margin-bottom: 1rem
  transition: .3s all ease

  &:hover
    color: #fff
    text-decoration: none

.large-button
  padding: 15px
  min-width: 220px
